<p><%= @passenger.name %>,</p>

<p>Thank you for booking your flight through Odin Flight Booker. We've included your flight details below.</p>

<h2>Your Booking</h2>

<p>Flight Number: <%= @booking.code %></p>

<p>Departs <%= @booking.from_airport %></p>
<p>Date of Departure: <%= @booking.departure_time %></p>

<p>Arrives <%= @booking.to_airport %></p>
<p>Date of Arrival: <%= @booking.arrival_time %></p>

