<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:alert] %>
    <div class="notification is-danger global-notification"><%= flash[:alert] %></div>
  <% elsif flash[:notice] %>
    <div class="notification is-success global-notification"><%= flash[:notice] %></div>
  <% end %>

  <nav class="navbar">
  <div class="navbar-brand">
  <%= link_to root_path do %>
  <h1 class="title is-3">Flight Tracker</h1>
  <% end %>

  <a role="button" class="navbar-burger" aria-label="main" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  </div>
  
  </nav>
    <%= yield %>
  </body>
</html>
